<%var versionSelected = page.version? page.version: theme.versions.current %>
<div class="categoriesMenuContainer bigStoneBG">
	<div class="ui container">
		<div class="ui four column center aligned padded stackable grid">
			<div class="row">
				<div class="ten wide column">
					<h1 class="categoriesMenu-title"> Carbon LDP documentation</h1>
					<div class="ui dropdown versionsMenu-dropdown">
						<button class="default text ui button versionsMenu-button"><%= versionSelected %></button>
						<!--<button class="ui button versionsMenu-button"></button>-->
						<div class="menu versionsMenu">
							<% for ( var i in theme.versions.allVersions ){ %>

							<a class="item" href="<%-url_for("documentation/"+theme.versions.allVersions[i]+"/")%>"><%= theme.versions.allVersions[i]%></a>
							<% } %>
						</div>
					</div>
				</div>
			</div>

			<div class="row categoriesMenu">
				<a href="#quick-guide" class="column categoriesMenu-button">
					<%- svg( "assets/images/ico-open-book.svg", "ui centered circular image categoriesMenu-icon" ) %>
					<div class="categoriesMenu-categoryTitle">Quick start</div>
				</a>
				<a href="#essential-concepts" class="column categoriesMenu-button">
					<%- svg( "assets/images/ico-books.svg", "ui centered circular image categoriesMenu-icon" ) %>
					<div class="categoriesMenu-categoryTitle">Essential concepts</div>
				</a>
				<a href="#javascript-sdk" class="column categoriesMenu-button">
					<%- svg( "assets/images/ico-javascript.svg", "ui centered circular image categoriesMenu-icon" ) %>
					<div class="categoriesMenu-categoryTitle">JavaScript SDK</div>
				</a>
				<a href="#rest-api" class="column categoriesMenu-button">
					<%- svg( "assets/images/ico-rest-api.svg", "ui centered circular image categoriesMenu-icon" ) %>
					<div class="categoriesMenu-categoryTitle">REST API</div>
				</a>

			</div>
		</div>
	</div>
</div>

<div class="ui container">

	<div class="mainContent">
		<%var documentationCategories = site.data["documentation-list"].categories %>
		<% for (var i in documentationCategories){%>
			<section class="mainContent-section" id="<%=documentationCategories[i].id%>">
				<div class="category-titleContainer">
					<%- svg( documentationCategories[i].iconPath , "ui left floated image category-icon" ) %>
					<h2 class="category-title"><%=documentationCategories[i].title%></h2>
				</div>

				<div class="category-description">
					<p><%=documentationCategories[i].description%></p>
					<%for ( var j in documentationCategories[i].versions){
						var version = documentationCategories[i].versions[j].version;
						var documents = documentationCategories[i].versions[j].documents;%>
						<div class="documentationVersionList <%=version===versionSelected? "":"hidden"%>" data-version="<%=version%>">
							<div class="ui bulleted list">
								<%for ( var k in documents){%>
								<%if( k > 2) break;%>
								<div class="item category-item">
									<%var pathToDocument = documentationCategories[i].link? version+"/"+documentationCategories[i].link+"/"+documents[k].link:version+"/"+documents[k].link%>
									<div><a class="category-itemTitle" href="<%-url_for("/documentation/"+pathToDocument)%>"><%=documents[k].title%></a></div>
									<p>Get started now, with this easy to follow, quick start guide</p>
								</div>
								<%}%>
							</div>
							<%if( documents.length > 3 ){%>
							<%var pathToCategoryHome = version+"/"+documentationCategories[i].link;%>
							<div class="category-unbulletedItem">
								<div class="header"><a class="category-itemTitle" href="<%-url_for("/documentation/"+pathToCategoryHome)%>">More...</a></div>
							</div>
							<%}%>
						</div>
					<%}%>
				</div>
			</section>
		<%}%>
	</div>
</div>