<%var categoriesList = site.data["documentation-list"].categories%>
<%var documentsToList, category, relatedLinks%>
<%for( var i=0; i<categoriesList.length; i++){
	if(categoriesList[i].title === page.title){
		category = categoriesList[i];
		for( var j=0; j<categoriesList[i].versions.length; j++){
			if( categoriesList[i].versions[j].version == page.version ){
				documentsToList = categoriesList[i].versions[j].documents;
				relatedLinks =  categoriesList[i].versions[j].otherRelatedLinks;
			}
		}
	}
}%>


<div class="ui container grid">
	<div class="row">
		<div class="twelve wide computer only sixteen wide tablet mobile only column">
			<div class="mainContent">
				<%- partial("_partial/breadcrumb", {shortBreadcrumb: false})%>
				<div class="ui warning message documentDoesntExistMessage">
					<i class="close icon"></i>
					<p></p>
				</div>
				<div class="category-titleContainer">
					<%-svg( category.iconPath, "ui left floated image category-icon")%><h1 class="category-title"><%= category.title %></h1>
					<%- partial("_partial/versions-menu", {containerDarkBackground:false})%>
				</div>
				<div class="category-description">

					<p><%- category.description %></p>

					<% if ( documentsToList ){ %>
						<div class="ui bulleted list">
							<% for (var i in documentsToList ){ %>
								<div class="item category-item">
									<div class="header"><a class="category-itemTitle" href="<%=documentsToList[i].link%>"> <%= documentsToList[i].title %></a></div>
									<div class="summary"><%= documentsToList[i].summary%></div>
								</div>
							<% } %>
						</div>
					<%}%>

					<% if( relatedLinks) {%>
						<hr>
						<div class="ui bulleted list">
							<% for (var i in relatedLinks){ %>
								<div class="item category-item">
									<div class="header"><a class="category-itemTitle" href="<%= relatedLinks[i].link %>"><%=relatedLinks[i].title%></a></div>
									<div class="summary"><%= relatedLinks[i].summary%></div>
								</div>
							<%}%>
						</div>
					<% } %>
				</div>
			</div>
		</div>
	</div>
</div>
