<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%
  var title = page.title;

  if (is_archive()){
    title = __('archive_a');

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = __('category') + ': ' + page.category;
  } else if (is_tag()){
    title = __('tag') + ': ' + page.tag;
  }
  %>
  <link rel="shortcut icon" href="/assets/images/carbon-icon-144x144.png">
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>

  <% if (theme.rss){ %>
    <link rel="alternate" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>


  <%- css("/semantic/dist/semantic.min")%>

  <link id="widgets-styles">

  <%- css("/assets/styles/css/main.min")%>


  <% if ( (typeof page.title === "undefined" && config.title==="Carbon LDP") || ( typeof page.css ==="undefined")){%>
  <%- css("/assets/styles/css/home.min")%>
  <%} else {%>
  <%- css("/assets/styles/css/"+page.css+".min")%>
  <%}%>

  <% if ( ( typeof page.layout === "undefined" ) ) { %>
  <%- partial( "index-head" ) %>
  <%} else {%>
  <%- partial( `_head/${ page.layout }-head` ) %>
  <%}%>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
          integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
          crossorigin="anonymous"></script>
  <script src="/semantic/dist/semantic.min.js"></script>
  <script id="widgets-scripts"></script>
</head>
