<div class="cover cover--home" data-async-background="/assets/images/night-sky.jpg">
    <div class="ui centered grid removeSideMargins">
        <div class="row">
            <div class="column">
                <div class="masthead">
                    <h1 class="masthead-title">Innovation for the Next&nbsp;Web</h1>
                    <%- svg("/assets/images/carbon-ldp-logo-wText-white.svg", "ui big centered image masthead-carbonLogo")%>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="electricBlueBG">
    <div class="ui padded centered grid">
        <div class="row">
            <div class="column">
                <div class="banner">
                    <p class="banner-paragraph">Carbon LDP is a Linked Data Platform for building web apps that manage and link data within your enterprise and across the World Wide Web.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="featuresSection bigStoneBG">
    <div class="ui container">
        <div class="ui equal width top aligned stackable centered grid removeSideMargins">
            <div class="row">
                <div class="fifteen wide center aligned column">
                    <div class="featuresSection-titleContainer">
                        <h2 class="featuresSection-title">Carbon LDP Features</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="five wide center aligned column">
                    <div class="feature">
                        <h3 class="feature-title">REST API</h3>
                        <%- svg("/assets/images/ico-rest-api.svg", "ui small centered circular image feature-icon")%>
                        <p class="feature-paragraph">Access and manage applications and data by URIs using RESTful requests over HTTP (GET, POST, PUT, DELETE). Work with documents in Turtle, RDF XML, or JSON-LD.
                            Configure apps, schedule server-side jobs, execute queries - <em>everything</em> in Carbon is RESTful.</p>
                    </div>
                </div>
                <div class="five wide center aligned column">
                    <div class="feature">
                        <h3 class="feature-title">JavaScript / TypeScript SDK</h3>
                        <%- svg("/assets/images/ico-javascript.svg", "ui small centered circular image feature-icon")%>
                        <p class="feature-paragraph">The JavaScript Software Development Kit, available from the npm package manager, allows you to manage RDF data using familiar JavaScript and
                            TypeScript programming techniques and tools. Build for execution within a web browser or Node.js.</p>
                    </div>
                </div>
                <div class="five wide center aligned column">
                    <div class="feature">
                        <h3 class="feature-title">Security</h3>
                        <%- svg("/assets/images/ico-security.svg", "ui small centered circular image feature-icon")%>
                        <p class="feature-paragraph">Secure your application through authentication and role-based access control. You can apply inheritable access control on your application, on parent containers, and all the
                            way down to the document level.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="five wide center aligned column">
                    <div class="feature">
                        <h3 class="feature-title">Visual Tools</h3>
                        <%- svg("/assets/images/ico-visual-tools.svg", "ui small centered circular image feature-icon")%>
                        <p class="feature-paragraph">Use time-saving tools in the Application Developer's Console, a GUI that helps you visualize and manage applications and data outside of code. Visualize your container
                            hierarchy and click resources to inspect data.
                        </p>
                    </div>
                </div>
                <div class="five wide center aligned column">
                    <div class="feature">
                        <h3 class="feature-title">RDF Native, NoSQL Graph Database</h3>
                        <%- svg("/assets/images/ico-rdf.svg", "ui small centered circular image feature-icon")%>
                        <p class="feature-paragraph">Data is represented and managed as documents, but stored natively as RDF triples in a NoSQL graph database. Break the shackles of rigid data schemas; add new entities
                            and attributes on the fly. Link data with existing resources within your apps and across the web.</p>
                    </div>
                </div>
                <div class="five wide center aligned column">
                    <div class="feature">
                        <h3 class="feature-title">Query Data</h3>
                        <%- svg("/assets/images/ico-query.svg", "ui small centered circular image feature-icon")%>
                        <p class="feature-paragraph">Query for data across multiple documents using the SPARQL query language. Query-down for a broad view from any segment of an application or against individual documents.
                            Query with the REST API, the JavaScript SDK, or the built-in visual SPARQL query editor.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="five wide center aligned column">
                    <div class="feature">
                        <h3 class="feature-title">Docker Containers</h3>
                        <%- svg("/assets/images/ico-docker.svg", "ui small centered circular image feature-icon")%>
                        <p class="feature-paragraph">The Carbon platform is fully containerized for rapid on-prem or cloud deployment, easy management, and the most lightweight, efficient, and secure use of your hosting
                            infrastructure.</p>
                    </div>
                </div>
                <div class="five wide center aligned column">
                    <div class="feature">
                        <h3 class="feature-title">LDAP Support</h3>
                        <%- svg("/assets/images/ico-ldap2.svg", "ui small centered circular image feature-icon")%>
                        <p class="feature-paragraph">Add users directly to your Carbon applications or selectively import them from your corporate LDAP user repository. Enhance user profiles with new attributes outside of the
                            LDAP schema.</p>
                    </div>
                </div>
                <div class="five wide center aligned column">
                    <div class="feature">
                        <h3 class="feature-title">Standards Based</h3>
                        <%- svg("/assets/images/ico-w3c.svg", "ui small centered circular image feature-icon")%>
                        <p class="feature-paragraph">Integrate and interoperate with industry tools from leading vendors. Carbon LDP is compliant with Semantic Web, Linked Data, HTTP, and other standards from the World
                            Wide Web Consortium (W3C).</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="ui equal width stackable middle aligned computer tablet only grid removeSideMargins">
    <!-- COMPUTER & TABLET ONLY -->
    <div class="two column computer tablet only electricBlueBG callToAction row">
        <div class="column">
            <div class="halfBanner halfBanner--left">
                <p class="halfBanner-paragraph"><strong>Carbon is the platform we've always wanted</strong>, so we're
                    building it. We think
                    you're going to love it too.</p>
            </div>
        </div>
        <div class="column californiaBG">
            <div class="halfBanner halfBanner--right">
                <p class="halfBanner-paragraph">Our <span href="/license"><em>license</em></span> grants you perpetual, worldwide, non-exclusive, no-charge, and royalty-free use!</p>
                <a class="ui whiteBG button californiaText" href="/get-started">Get Started!</a>
            </div>
        </div>
    </div>
</div>
<!-- MOBILE ONLY (REPEAT) -->
<div class="ui equal width stackable middle aligned padded mobile only grid">
    <div class="two column only electricBlueBG callToAction row">
        <div class="column">
            <div class="banner">
                <p class="banner-paragraph"><strong>Carbon is the platform we've always wanted</strong>, so we're
                    building it. We think
                    you're going to love it too.</p>
            </div>
        </div>
        <div class="column californiaBG">
            <div class="banner banner-bordered">
                <a class="ui whiteBG button californiaText" href="/get-started">Get Started!</a>
            </div>
        </div>
    </div>
</div>
<div class="newsSection">
    <div class="ui container">
        <div class="ui middle aligned stackable centered grid">
            <div class="row">
                <div class="news-titleContainer">
                    <h2 class="newsSection-title">Announcements</h2>
                </div>
            </div>
            <div class="news row">
                <div class="seven wide column">
                    <div class="news-image">
                        <a href="https://www.ng-conf.org/"><img class="ui image news-image news-image--ngConf" alt="ng-conf April 5th-7th 2017 - The World's Original Angular Conference" src="assets/images/ngConf-logo.png" width="215"/></a>
                    </div>
                </div>
                <div class="nine wide column">
                    <div class="news-content">
                        <h2 class="news-title">Carbon LDP at NG-Conf</h2>
                        <p class="news-date">March 30, 2017</p>
                        <p class="news-paragraph">This year, we’re taking Carbon LDP to <a href="https://www.ng-conf.org/">NG-Conf</a>, the World’s
                            Original Angular Conference, in Salt Lake City, UT (April 5th-7th). Come to learn about Carbon LDP, a back-end to your Angular App, and how you can build data-centric apps using the power of linked data.</p>

                            <p class="news-paragraph">If you’re planning to attend, we hope you’ll find us at stand #24, or you can get a glimpse of the action on the conference
                            <a href="https://www.ng-conf.org/livestream/">Livestream</a> or at one of the many <a href="https://www.ng-conf.org/extended/">NG-Conf Extended</a> events taking part across the globe.</p>

                        <p class="news-paragraph">Join us and see how Carbon LDP could be the hottest new addition to your Angular application stack.</p>

                    </div>
                </div>
            </div>
            <div class="ui divider"></div>
            <div class="news row">
                <div class="nine wide column">
                    <div class="news-content">
                        <h2 class="news-title">New Workbench v0.7.1 released</h2>
                        <p class="news-date">March 6, 2017</p>
                        <p class="news-paragraph">The Workbench now allows you to manage your user agents' role.  Create, list, view, update, delete roles and populate them with user agents.</p>
                        <p class="news-paragraph">Follow the steps in the <a href="/documentation/quick-start-guide">quick start guide</a>, to update or download a new instance.</p>
                    </div>
                </div>
                <div class="seven wide column">
                    <div class="news-image">
                        <img class="ui image news-image" alt="New wrokbench v7.0.1 released" src="assets/images/carbonldp-workbench-0.7.1.png" width="270"/></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






