<%var versionSelected = page.version? page.version: theme.versions.current %>
<%var versionsPerDocument = site.data["versions-per-document"];
var versionsThatApply = versionsPerDocument[page.title]? versionsPerDocument[page.title]:theme.versions.allVersions%>

<div class="ui dropdown versionsMenu-dropdown <%=containerDarkBackground? "" : "versionsMenu-dropdown--blackText"%>">
	<button class="default text ui button versionsMenu-button <%=containerDarkBackground? "" : "versionsMenu-button--grayHover"%>"><%= versionSelected %></button>
	<div class="menu versionsMenu">
		<% for ( var i in versionsThatApply ){ %>
		<% var path = page.pathPartialURL?page.pathPartialURL:""%>
		<a class="item" href="<%-url_for("documentation/"+versionsThatApply[i]+"/"+path)%>"><%= versionsThatApply[i]%></a>
		<% } %>
	</div>
</div>