<div class="ui container grid">
	<div class="row">
		<div class="twelve wide computer only twelve wide tablet only sixteen wide mobile only column">
			<div class="mainContent">
				<%- partial( "_partial/breadcrumb", { shortBreadcrumb: false } ) %>
				<div class="document-titleContainer">
					<h1 class="document-title"><%= page.title %></h1>
				</div>
				<div class="ui centered aligned grid versionsMenu-grid mobile only">
					<%- partial( "documentation/_partial/versions-menu", { containerDarkBackground: true, whiteTextColor: true, containerBackground: 'blue' } ) %>
				</div>

				<% if ( page.notDocumented ) { %>
				<%- partial( "documentation/_partial/not-yet-documented" ) %>
				<% } else { %>
				<%- partial( "documentation/_partial/edit-document", { page: page } ) %>
				<%- page.content %>
				<% } %>
			</div>
		</div>

		<div class="four wide computer tablet only column">
			<div class="ui sticky sticky-wrapper">
				<% if ( ! ( page.notDocumented ) ) { %>
				<div class="versionsMenu--document">
					<div class="ui versionsMenu-sticky">
						<h2 class="ui header left aligned">Version</h2>
						<%- partial( "documentation/_partial/versions-menu", { containerDarkBackground: true, whiteTextColor: true, containerBackground: 'blue' } ) %>
					</div>
				</div>
				<% } %>
				<% if ( ! (page.sidebar || page.notDocumented ) ) { %>
				<sidebar content="mainContent"></sidebar>
				<% } %>
			</div>
		</div>
	</div>
</div>
