<%
let versions = site.data[ "documentation" ].versions;
let currentVersionName = "version" in page ? page.version : versions.find( version => version.label === "current" ).name;
let currentVersion = versions.find( version => version.name === currentVersionName );
%>
<div class="categoriesMenuContainer bigStoneBG">
	<div class="ui container">
		<div class="ui four column center aligned padded stackable grid">
			<div class="row">
				<div class="ten wide column">
					<h1 class="categoriesMenu-title">Documentation</h1>
					<%- partial( "documentation/_partial/versions-menu", { containerDarkBackground: true } ) %>
				</div>
			</div>

			<div class="row categoriesMenu">
				<% for ( let category of currentVersion.categories ) { %>
				<% let categoryLink = "documents" in category ? `#${category.link}` : url_for( `/documentation/${currentVersion.name}/${category.link}` ); %>
				<a href="<%= categoryLink %>" class="column categoriesMenu-button">
					<%- svg( category.iconPath, "ui centered circular image categoriesMenu-icon" ) %>
					<div class="categoriesMenu-categoryTitle"><%= category.title %></div>
				</a>
				<% } %>
			</div>
		</div>
	</div>
</div>
<div class="ui container">

	<div class="mainContent">
		<% for ( let category of currentVersion.categories.filter( category => "documents" in category ) ) { %>
		<section class="mainContent-section" id="<%= category.link %>">
			<div class="category-titleContainer">
				<%- svg( category.iconPath, "ui left floated image category-icon" ) %>
				<h2 class="category-title"><%= category.title %></h2>
			</div>

			<div class="category-description">
				<p><%= category.description %></p>

				<div class="documentationVersionList">
					<div class="ui bulleted list">
						<% for ( let document of category.documents ) { %>
						<div class="item category-item">
							<div><a class="category-itemTitle" href="<%- url_for( `/documentation/${currentVersion.name}/${category.link}/${document.link}` ) %>"><%= document.title %></a></div>
							<p><%= document.description %></p>
						</div>
						<% } %>
					</div>
				</div>
			</div>
		</section>
		<% } %>
	</div>
</div>
