<div class="sidebar" <%if ( selector!== null ) {%> content="<%=selector%>" <%}%>>
	<div class="ui sticky segment">
		<h2 class="ui header">Content</h2>
		<div class="ui vertical following fluid accordion text menu sidebar-verticalMenu">

		<% for( let i = 0, length = sectionsTree.length; i < length; i ++ ) {
			if( sectionsTree[i]["subsections"].length === 0) { %>

			<div class="item"><a class ="title sidebar-title" href="#<%= sectionsTree[i].id%>"><%=sectionsTree[i].title%></a></div>

			<% } else { %>

			<div class="item">

				<a class="title sidebar-title sidebar-title--dropdown" href="#<%= sectionsTree[i].id%>"><%=sectionsTree[i].title%></a><i class="dropdown icon sidebar-dropdownIcon"></i>

				<div class="content menu sidebar-verticalSubMenu">

				<% let subsections = sectionsTree[i].subsections
				   for( let i = 0, length = subsections.length; i < length; i ++ ) { %>

					<a class="item sidebar-title" href="#<%= subsections[i].id%>"><%=subsections[i].title%></a>

				<%}%>

				</div>
			</div>
		<%}}%>
		</div>
	</div>
</div>